.root {
    /* Colors */
    --slate-900-color: #1f314f;
    --slate-500-color: #68778d;
    --slate-300-color: #d5e1ef;
    --white-color: #fff;

    /* Spacing scale */
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
}

* {
    box-sizing: border-box;
}

.text-preset-1 {
  font-family: 'Outfit', sans-serif;
  font-size: 22px;
  font-weight: 700; /* Bold */
  line-height: 120%;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 400; /* Regular */
  line-height: 140%;
  letter-spacing: 0.2px;
}


body {
    background-color:  var(--slate-300-color);
    font-family: 'Outfit', sans-serif;
    font-size: 15px; /* Paragraph size */
    padding: 0px;
    margin: 0px;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

#card {
    background-color: var(--white);
    width: 320px;
    height: 464px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 5px hsl(220, 15%, 55%); /* offset-x | offset-y | blur-radius | spread-radius | color */
    margin: 0 auto;
    padding: 16px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

#qr-pic {
    width: 288px;
    height: 288px;
    display: block;
    border-radius: 10px;
    margin: 0;
}

#info {
    padding: 0px 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.horizontal-center-vert-top {
    text-align: center;
    vertical-align: top;
    margin: 0;
}


/* Media query for mobile screens */
@media (max-width: 375px) {
    #card {
        height: auto;  /* remove fixed height */
    }
}


